

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav {
  background-color: orange;
}

.links-llamada {
  font-size: large;
  opacity: 1.0 !important;
  text-align: right !important;
}

.nombre-colegio {
  text-shadow: 2px 2px 3px black;
  text-align: left;
  font-size: 1.5rem !important;
}

.text-slider1 {
  color:white;
  background-color: #730639;
  font-size: large !important;
}

.logo-ctm {
  max-width: 8%;
}

.titulo-slider {
  font-weight: bold;
}

.carousel {
  max-height: 50%;
}

.menu-ctm {
  background-color: steelblue;
  text-align: center;
}

.subtitulo {
  color: steelblue;
}

.texto-pagina {
  text-align: left;
  color: black;
}

.mensaje-bienvenida {
  text-align: left;
  color: steelblue;
}

.admisiones {
  background-color: orange;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px steelblue;
}

.admisiones-button {
  background-color: steelblue;
  text-shadow: none;
  box-shadow: 2px 2px 2px black;
}

.card {
  border:none;
  padding: 10px 50px;
}

.card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {


  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
}

.card:hover::after {
  opacity: 1;
}

.card:hover .btn-outline-primary{
  color:white;
  background:orange;
}

.container-fluid{
  background: linear-gradient(90deg, steelblue 0%, orange 100%);
}

.btn-lg {
  border-radius:30px;
}

.card-title {
  color: steelblue;
}

.placeholder-form {
  text-align: left;
}

.form {
  text-align: left;
  max-width: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.titulo-form {
  color:orange;
}

.footer {
  background-color: steelblue;
}

.subtitle-footer {
  color: orange;
  text-align: left;
}

.second-list-footer {
  color:white;
  text-align: left;
  font-size: x-small;
}

.footer-link {
  text-align: left !important;
  color: white;
  font-size: smaller;
}

.footer-text {
  text-align: left !important;
}

.copyright {
  color: white;
  background-color: orange;
  font-weight: bold;
}

.titulo {
  color: orange;
}

.parrafos {
  text-align: left;
  font-size: medium;
  padding: 5% !important;
  padding-bottom: 0 !important;
}

.subtitulo-objetivo {
  color: gray;
}

.orange-text {
  color:orange;
}

.subtitulo1 {
  color: steelblue;
  text-align: left;
}

.row-mensaje-rector {
  margin-left: 25% !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: orange !important;
}
